<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#what_to').click(function(event){
        console.log("HEllO world")
        $('html, body').animate({ scrollTop: $('#what').offset().top }, 'slow');
        event.preventDefault(); // Prevent link from following its href
      });
    });
    </script>

  </head>
  <body>
    <div class="container-fluid">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <div class = "container">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>

</html>
